<div class="container">
<h1>New Task</h1>
<%= form_with model: @task, local: true do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.label :status %><br>
    <%= form.select :status, [['Pending', 'pending'], ['Completed', 'completed']] %>
  </div>
  <div>
    <%= form.submit "Create Task" %>
  </div>
  <div>
  <%= form.label :finished_at, "Finish By (optional)" %><br>
  <%= form.datetime_select :finished_at %>
</div>

<% end %>
<%= link_to "â† Back to All Tasks", root_path, class: "btn btn-secondary mb-3" %>


</div>
